* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* font-styles */

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }

/* page-styles */

.navbar,
.hero-section,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

.navbar-content,
.hero-content,
.info-content,
.quote-content {
    margin: auto;
    max-width: 60rem;
}

/* nav-section-specific-styles */


.navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-links {
    padding: 0px;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.nav-links > ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-links > ul > li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* hero-section-specific-styles */

.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 5rem 0 7rem 0;
    gap: 2rem;
}

.hero_content-wrapper {
    max-width: 500px;
}

.hero-img {
    flex-shrink: 0;
    width: 32rem;
    height: 13.5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_content-wrapper > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    width: 20rem;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 12px;
    max-width: 26.5rem;
}

.hero-button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: .5rem 1.75rem;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
}

/* info-section-specific-styles */

.info-content {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

.info_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.info_content-wrapper > h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    flex-shrink: 0;
}

.info_card-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    max-height: 30rem;
    gap: .5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    width: 200px;
    height: 180px;
    padding:1rem;
}

.info-img {
    flex-shrink: 0;
    height: 125px;
    width: 125px;
    border: solid 4px #3882f6;
    border-radius: 12px;
}

.info-text {
    flex-shrink: 0;
    text-align: center;
    max-width: 9.10rem;
    color: gray;
}

/* quote-section-specific-styles */

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-content {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.quote_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    max-width: 48rem;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 7rem;
}

/* footer-section-specific-styles */

.footer {
    margin-top: auto
}